.node {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 20px;
  border-width: 4px;
  border-color: #ff66aa;
  background-color: #ffdfed;
}
.node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.GroupNode {
  border-width: 4px;
  border-color: "#E74C3C";
  background-color: "#F5B7B1";
}

.ControlNode {
  border-width: 4px;
  border-color: #17a589;
  background-color: #a3e4d7;
}

.EventNode {
  border-color: #f1c40f;
  border-width: 4px;
  background-color: #f9e79f;
}

.HandlerNode{
  border-color: #707B7C;
  border-width: 4px;
  background-color: #CCD1D1,
}